<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.yalo.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServ</servlet-name>
        <servlet-class>com.yalo.servlet.RegisterServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewTaskServ</servlet-name>
        <servlet-class>com.yalo.servlet.NewTaskServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServ</servlet-name>
        <servlet-class>com.yalo.servlet.MainServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewListServ</servlet-name>
        <servlet-class>com.yalo.servlet.NewListServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowListsServ</servlet-name>
        <servlet-class>com.yalo.servlet.ShowListsServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlMessageServ</servlet-name>
        <servlet-class>com.yalo.servlet.ControlMessageServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlMessageServ</servlet-name>
        <servlet-class>com.yalo.servlet.ControlMessageServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServ</servlet-name>
        <url-pattern>/registerServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewTaskServ</servlet-name>
        <url-pattern>/newTaskServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServ</servlet-name>
        <url-pattern>/mainServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewListServ</servlet-name>
        <url-pattern>/newListServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowListsServ</servlet-name>
        <url-pattern>/showListsServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlMessageServ</servlet-name>
        <url-pattern>/controlMessageServ</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
